<template>

    <div class="lol-main-div">
        <div class="cphoto"><img :src="champPhoto" :alt="champName"/></div>
        <div class="ground-white">
        <div class="name"> 이름 : {{champName}} </div>
        <div class="position"> 포지션 :{{champPosition}} </div>
        <div class="blue"> 파랑정수 : {{champBlue}}</div>
        <div class="orange"> 주황정수 : {{champOrange}}</div>
        </div>
    </div>
</template>

<script>
export default{
    props:{
        champPhoto: {
            type: String,
            required: true
        },
        champName: {
            type: String,
            required: true
        },
        champPosition: {
            type: String,
            required: true
        },
        champBlue: {
            type: Number,
            required: true
        },
        champOrange: {
            type: Number,
            required: true
        }
    }

}
</script>
