<template>
    <div class="background-pick">
        <lol-champ-info
            v-for="(item, index) in champs"
            v-bind:key="index"
            v-bind:champ-orange="item.orangePrice"
            v-bind:champ-blue="item.bluePrice"
            v-bind:champ-position="item.champPosition"
            v-bind:champ-name="item.champName"
            v-bind:champ-photo="item.photoCamp"
        />
    </div>
</template>

<script>
export default {
    data() {
        return {
            champs: [
                {
                    photoCamp: 'images/lol_top.jpeg',
                    champName: '크산테',
                    bluePrice: 6300,
                    orangePrice: 975,
                    champDistance: 175,
                    champPosition: 'TOP'
                },
                {
                    photoCamp: 'images/lol_jg.jpeg',
                    champName: '리 신',
                    bluePrice: 1350,
                    orangePrice: 585,
                    champDistance: 125,
                    champPosition: 'JG'
                },
                {
                    photoCamp: 'images/lol_mid.jpeg',
                    champName: '아지르',
                    bluePrice: 4800,
                    orangePrice: 880,
                    champDistance: 500,
                    champPosition: 'MID'
                },
                {
                    photoCamp: 'images/lol_ad.jpeg',
                    champName: '아펠리오스',
                    bluePrice: 4800,
                    orangePrice: 880,
                    champDistance: 550,
                    champPosition: 'AD'
                },
                {
                    photoCamp: 'images/lol_sup.jpeg',
                    champName: '룰루',
                    bluePrice: 4800,
                    orangePrice: 880,
                    champDistance: 550,
                    champPosition: 'SUP'
                }

            ]

        }
    }
}

</script>
